<div class="album py-5">
    <div class="container">
        <h1>Upcoming Movies</h1>
        <div class="row">
            <div class="col-md-4" *ngFor="let result of results">
                <div class="card mb-4 shadow-sm">
                    <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ result.poster_path }}"
                        alt="No image to display.">
                    <div class="card-body">
                        <p class="card-text">
                            {{ (result.overview | slice:0:100) + (result.overview.length > 100 ? '...' : '') }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Score:</p>
                            <div *ngFor="let Star of [2,4,6,8,10]">
                                <div [ngSwitch]="[result.vote_average] >= Star">
                                    <div *ngSwitchCase="true">
                                        <img src="..\..\assets\images\star.png" class="star" />
                                    </div>
                                    <div *ngSwitchCase="false">
                                        <div [ngSwitch]="[result.vote_average] >= (Star-1)">
                                            <div *ngSwitchCase="true">
                                                <img src="..\..\assets\images\star-half.png" class="star" />
                                            </div>
                                            <div *ngSwitchCase="false">
                                                <img src="..\..\assets\images\star-unfilled.png" class="star" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<p>{{ result.vote_average }}</p>-->
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Release date:</p>
                            <p>{{ result.release_date }}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a id="movie_{{ result.id }}" href="/movie/{{ result.id }}"
                                    title="{{ result.original_title }}">More info</a>
                            </div>
                            <small class="text-muted">{{ result.title }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>