<div>
    <form [formGroup]="loginForm" name="signin-form" class="form-signin mb-3" (ngSubmit)="onSubmit()" style="text-align: center">
        <h1 class="h3 font-weight-normal" style="padding-top: 10px">Please sign in</h1>
        <label for="login" class="sr-only">Login</label>
        <input formControlName="username" id="login" placeholder="Login" required autofocus>
        <p></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="password" id="inputPassword" type="password" placeholder="Password" required>
        <p></p>
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        <p></p>
        <a routerLink="/register" class="btn btn-link">Register</a>
        <div>{{ statusMessage }}</div>
    </form>
</div>