<div class="album py-5">
    <div class="container">
        <h1>Popular People</h1>
        <div class="row">
            <div class="col-md-3" *ngFor="let result of results">
                <div class="card mb-3 shadow-sm">
                    <img class="poster" src="https://image.tmdb.org/t/p/w235_and_h235_face{{ result.profile_path }}"
                        alt="No image to display.">
                    <div class="card-body">
                        <p class="card-text">{{ result.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Popularity:</p>
                            <div *ngFor="let Star of [10,20,30,40,50]">
                                <div [ngSwitch]="[result.popularity] >= Star">
                                    <div *ngSwitchCase="true">
                                        <img src="..\..\assets\images\star.png" class="star" />
                                    </div>
                                    <div *ngSwitchCase="false">
                                        <div [ngSwitch]="[result.popularity] >= (Star-5)">
                                            <div *ngSwitchCase="true">
                                                <img src="..\..\assets\images\star-half.png" class="star" />
                                            </div>
                                            <div *ngSwitchCase="false">
                                                <img src="..\..\assets\images\star-unfilled.png" class="star" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center"
                            *ngFor="let movie of result.known_for">
                            <small>{{ movie.title }}</small>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/person/{{ result.id }}">More info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card text-center m-3">
    <h3 class="card-header">Angular 8 Pagination Example</h3>
    <div class="card-body">
        <div *ngFor="let item of pageOfItems">{{item.name}}</div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>