<div>
    <form name="register-form" class="form-signin mb-3" onsubmit="return validateRegisterForm()" style="text-align: center">
        <h1 class="h3 font-weight-normal" style="padding-top: 10px">Please sign up</h1>
        <label for="login" class="sr-only">Login</label>
        <input id="login" placeholder="Login" required autofocus>
        <p></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" placeholder="Password" required>
        <p></p>
        <label for="confirmPassword" class="sr-only">Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
        <p></p>
        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        <p></p>
        <div id="form-div" style="color: red"></div>
    </form>
</div>